*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}


.main {
    display: flex;
    justify-content: center;
    border-radius: 12px;
    background-color:lavender;
    height: 520px;
    width: 420px;
    padding: 30px; 
}
    
#hone{
    padding: 5px;
}

input{
    display: flex;
    width: 300px;
    height: 30px;
    border-radius: 4px;
    margin: 1px;
    border-color: lightgray;
}

.button1{
    display:flex;
    background-color: darkturquoise;
    border-radius: 17px;
    width: 300px;
    height: 25px;
    justify-content: center;
    align-items: center;
    background-color: darkturquoise;
    color: white;
    border-color: darkturquoise;
    border-style: none;
}

.button2{
    display:flex;
    background-color: black;
    border-radius: 17px;
    width: 300px;
    height: 25px;
    justify-content: center;
    align-items: center;
    color: white;
    border-style:dotted;
}

button:hover{
    font-size:medium;
}
p{
    margin: 3px;
    text-align: center;
}
.Login{
    border-style: none;
    color: darkturquoise;
}