.box1{
    background-color: red;
    width: 400px;
    height: 300px;
}
.container{
    display: flex;
    flex-direction: row;
    gap:10px
}
.card{
    background-color: cyan;
    width: 200px;
}
@media screen and(min-width : 600px){
    .container{
        background-color: blue;
        flex-direction: column;
    }
}